body {
    width: 100%;
    height: 100vh;
    background-image: url("../images/pw_maze_black/pw_maze_black_@2X.png");
    color: white;
    text-align: center;
    overflow: hidden;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
h1, h3 {
    font-weight: 100;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h1:hover, h3:hover {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#container {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 94vh;
}
#header {
    width: 100%;
    height: 11vh;
    line-height: 9vh;
}
#electionProcess {
    width: 100%;
    height: 24vh;
    background-color: rgba(128,0,0,0.5);
    background-image: url("../images/caucus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 24vh;
}
#electionProcess:hover {
    background-color: rgba(128,0,0,1);
}
#election2016 {
    width: 100%;
    height: 24vh;
    background-color: rgba(222,222,222,0.5);
    background-image: url("../images/TCS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 24vh;
}
#election2016:hover {
    background-color: rgba(188,188,188,1);
}
#quiz {
    width: 100%;
    height: 23vh;
    background-color: rgba(0,0,128,0.5);
    background-image: url("../images/quiz.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 24vh;
}
#quiz:hover {
    background-color: rgba(0,0,192,1.0);    
}
#footer {
    width: 100%;
    height: 11vh;
    line-height: 11vh;
}
a {
    text-decoration: none;
    color: white;
    font-size: 30px;  
    padding: 9vh 76vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover {
   color: black;   
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}