<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/style0.css">
    <title>memes</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>G o v e r n m e n t &nbsp;&nbsp;&nbsp; P r o j e c t</h1>
      </div>
      <div id="electionProcess">
        <a href="info.html">The Election Process</a>
      </div>
      <div id="election2016">
        <a href="election.html">The 2016 Election</a>
      </div>
      <div id="quiz">
        <a href="quiz.html">Quiz</a>
      </div>
      <div id="footer">
        <h3>Copyright &copy; 2016 Shawn Li</h3>
      </div>
    </div>
    <script></script>
  </body>
</html>
