<!DOCTYPE html>
<html>
	<head>
		<title> How Elections Work </title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	
	<body>
		<header>
			<h1>How Elections Work</h1>
			<nav>
				<ul>
					<li><b>How it Works</b></li>
					<li>2016  Election Editorials</li>
					<li>Take a Quiz!</li>
				</ul>
			</nav>
		</header>
		
		<section>
			<h2>Step 1: The Prerequisites</h2>
			<article class="left">
				So, you want to run for President of the United States? Well before you can even think about running, you have to fulfill a couple requirements. You have to be:
<table><tr><td>  1. A natural born citizen of the United States</td>
<tr><td>  2. At least 35 years old</td>	
<tr><td>  3. A resident of the United States for at least 14 years</td>
<tr><td>  4. A dank memer</td>
</table>
If you fulfill all of these, you can declare your intention to run and move on to the next step to becoming President!
			</article>
			<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" />
		</section>
		<section>
			<h2>Step 2: Primaries and Caucuses </h2>
			<article class="right">
			Before you compete in the general election, you will most likely have to go through many state primaries and caucuses in order to be the candidate for your party.
			<h3>Primaries</h3>
			Primaries are votes held by the state and local governments in which the people choose a candidate they wish to run in the general election for a particular political party. The votes are cast by a secret ballot.
			<h3>Caucuses</h3>
			Caucuses are similar to primaries, as they serve the same purpose, but they are different in a couple ways. For one, they are private meetings held by the political parties. The participants physically divide themselves into groups to 'vote' for a particular candidate, and they can give speeches in order to persuade others to switch. In the end, the number of people in each group is counted and the results are tallied.
			<h3>Delegates</h3>
			
			</article>
			<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" />
		</section>
		<section>
			<h2>Republican Primaries</h2>
			<article class="left">
				The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it 
				continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts s
				lowly but gets faster each minute after you hear this signal bodeboop. A sing lap should be completed every 
				time you hear this sound. ding Remember to run in a straight line and run as long as possible. The second 
				time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. 
				On your mark. Get ready!… Start. ding﻿
			</article>
			<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" />
		</section>
	</body>
</html>
